<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<display-name>shopServlet</display-name>
		<servlet-name>shopServlet</servlet-name>
		<servlet-class>com.pratice.ShopServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>shopServlet</servlet-name>
		<url-pattern>/shop</url-pattern>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	 <display-name>Archetype Created Web Application</display-name>
</web-app>
